@use '~bulma/bulma.sass';
@use './nav.scss';
@use './home.scss';
@use './footer.scss';
@use './projects.scss';
@use './skills.scss';

body {
  background-image: url(../images/tile2.jpg);
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  padding-bottom: 4%;
}

.section {
  background-color: rgb(255, 255, 255);
  padding: 0 3% 0 3%;
  flex-direction: column;
  display: flex;
  width: 70%;
  // height: 80%;
  margin: auto;
  
}

.top-page {
  margin-top: 5%;
}

// .bottom-page {
//   margin-bottom: 5%;
// }

.project-img {
  width: 600px;
  height: 400px;
  margin-left: 20px;
}
