a {
  // text-decoration: none;
  color: black;
}

.project-devicons {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  font-size: 1.5rem;
  .project-devicon {
    padding-right: 10px;
  }

}