#projects {
  display: flex;
  flex-direction: column;
  // justify-content: center;


  .project {
    // justify-content: center;
    margin: 10px;
  }

  h3 {
    margin-left: 10px;
  }

  .title-projects {
    text-align: center;
  }

  .project-picture {
    display: flex;
    flex-direction: row;

    .project-img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      transition: transform 0.5s ease;
      transform: scale(0.8);
    }

    img:hover {
      transform: scale(.9);
    }
  }
}

a {
  // text-decoration: none;
  color: black;
}

.project-devicons {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  font-size: 1.5rem;
  margin: 10px;

  .project-devicon {
    padding-right: 10px;
  }
}



// .circular img {
//   border-radius:50%;
//   transition: transform 0.5s ease;
//   transform: scale(0.8);
// }
// ​
// .circular img:hover {
//   transform: scale(.9);
//   /*
//   transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
//   */
// } 