#skills {
  display: flex;
  flex-direction: column;
  // text-align: center;
  // justify-content: center;

  h3 {
    text-align: center;
  }
}

.devicons{
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  // text-align: center;
  margin: 0 60px 0 60px;
}

.devicon-div{
  // border: 1px solid #293339;
  margin: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    padding-top: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Tajawal', sans-serif;
  }
}

.about {
  p {
    text-align: justify;
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
  }
}